@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Tiro Devanagari Hindi", serif;
  margin: 0;
  background-color: black;
  color: #fff;
}

Button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark {
  /* Apply styles for dark mode */
  background-color: #1f2937;
  color: #fff;
}

.light {
  /* Apply styles for light mode */
  background-color: #f3f4f6;
  color: #000;
}

input,
label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0.5rem 4.2vw;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

header {
  color: #fff;
  background-color: transparent;
  padding: 6vh;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
}

.missingPersonForm {
  padding: 1rem;
  border: 1px solid #ccc;
  width: 50vw;
  margin: 1rem auto;
  height: 155vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* automatically added by NavLink component */
.active {
  color: #eebc32;
  font-weight: bold;
  font-style: italic;
}

.seeMoreButton:hover {
  color: rgb(150, 100, 13);
  cursor: pointer;
}

/* missing people card css */
.missing-people-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.missing-people-container .card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 30%; /* Adjust the width as needed */
  margin: 10px;
}

.missing-people-container .card :hover {
  outline: #eebc32;
}

.cardButton {
  width: 35%;
}

Button {
  width: 20%;
  height: 5vh;
}

/* Footer css */

#footer {
  height: 55vh;
  vertical-align: bottom;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  gap: 15%;
  position: relative;
}

#footer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: whitesmoke;
  left: 50%;
  transform: translateX(-50%);
  height: 80%;
  margin: auto 0;
}

#footercol1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footercol2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footercol2 p {
  padding-bottom: 20px;
}

.updateFormTitle {
  text-align: center;
}

#footerTitle {
  display: flex;
  justify-content: center;
}

.footerPadding {
  padding-top: 25px;
}

.editForm {
  width: 45%;
  margin-top: 6%;
}

#missingPersonInfoParent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70vh !important;
}

.missingPersonInfoOne {
  width: 20%;
  padding-left: 2%;
  margin-bottom: 2%;
}

.missingPersonInfoTwo {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.missingPersonInfoThree {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
  margin-bottom: 2%;
}

.userTabs {
  display: flex;
  display: flex;
  justify-content: center;
}

#dateAndContact {
  padding-top: 2%;
  text-align: center;
}

#decriptionCommentButtonParent {
  display: flex;
  /* position: absolute; */
  /* z-index: 3; */
  justify-content: center;
  align-content: center;
  position: relative;
  bottom: 20;
}

#decriptionCommentButton {
  width: 28%;
  height: 95%;
}

#personComment {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 7vh;
  width: 8vw;
}

.landingPage-1 {
  position: relative;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}

.landingPage-1-text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  text-align: start;
  width: 37vw;
  height: 52vh;
  position: absolute;
  top: 20vh;
  left: 102vh;
  color: white;
  z-index: 2;
}

.landingimg-1 {
  width: 55vw;
  height: 50vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.collage {
  width: 100vw;
  height: 100vh;
}

.landingPage-1-text Button {
  display: flex;
  width: 13vw;
  /* margin-left: 48vh; */
}

#bnwimageparent {
  /* margin-top: -8vh; */
  height: 30vh;
  display: flex;
  justify-content: center;
}

.bnwText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.1vh;
  color: #f3f4f6;
}

.coverageWorth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
}

.coverageWorthImage {
  color: white;
  display: flex;
  width: 40vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  position: relative;
  /* z-index: 2; */
}

.coverageWorthButton {
  width: 40vw;
  height: 30vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.coverageWorthButton button {
  width: 20vw;
  position: relative;
  z-index: 2;
}

.landing-page-1 {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.landing-page-3 {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

#missingPersonInfoParent {
  color: white;
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#card-style {
  background-color: #1b1b1e;
  color: #f3f4f6;
  /* height: 84vh; */
  padding-top: 2vh;
}

#filterText {
  color: white;
  display: flex;
  width: 90vw;
  margin-left: 4vw;
}

#footerCardButtons {
  display: flex;
  justify-content: space-around;
}

.cardHeaderText {
  background-color: #1b1b1e;
  color: #f3f4f6;
  /* margin-bottom: 0vh; */
  /* vertical-align: top; */
  margin-top: 5%;
  margin-left: 3%;
  padding-left: 4%;
  padding-bottom: 5vh;
}

Select {
  color: white;
}

button {
  color: white;
}

form button {
  width: 40vh;
}

.missingPersonFilters button {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
}

.gap-5 {
  gap: 1.25rem;
  margin-left: 6vw;
}

#missingPersonFiltersParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 70vh;
  align-items: flex-start;
  align-content: space-evenly;
  color: white;
}
.missingPersonFilters {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55vw;
}

.landing-page-4 {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.className4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  height: 100vh;
}

.landing-page-5 {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.className4 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  height: 100vh;
}

.font-sans {
  font-family: "Tiro Devanagari Hindi", serif !important;
}

.font-sans h6 {
  font-family: "Jost", serif !important;
}

.newPostButton {
  margin-left: 74.5vw;
  display: flex;
  margin-top: 7vh;
  position: absolute;
  z-index: 5;
}

.find-person {
  width: 70vw;
  margin-right: 15%;
  animation-duration: 2.5s;
}

.landing-page-blurb {
  text-align: left;
  font-size: 1.35rem;
  text-shadow: rgb(23 22 22) 0px 0 60px;
}

.landing-page-intro {
  font-size: 3.25rem;
  width: 40vw;
}

.missingPersonPhoto {
  width: 30vw;
  border-radius: 5px;
}

.missingPersonText {
  font-size: 1.25rem;
}
.singleComment {
  display: flex;
}

#card-style:hover {
  cursor: grab !important;
}

#card-style {
  width: 30vw;
}

.cardPhoto {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  height: 6.25vh;
}

.logoAndText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14vw;
}
